body{
    padding: 2px;
    background-color: bisque;
    overflow: hidden;
    min-height: 100vh;
    cursor:cell;
}

.bubble{
    position: absolute;
    border-radius: 300px;
    background: rgba(105, 200, 10, 0.8);
    opacity: 0;
    animation: bubble_mov 8s forwards ;
    filter:hue-rotate(0deg);
}

@keyframes bubble_mov {
    to{
        top: -250px;
        left: var(--left);
        opacity: 1;
        filter:hue-rotate(720deg);

    }
}

#he{
    position: absolute;
    top: 10%;
    left: 50%;
    font-size: 100px;
    text-align: center;
    opacity: 0.5;
    z-index: 5;
}
